# Credenciais do Usuário Gestor
USUARIO_GESTOR=
SENHA_GESTOR=

# Credenciais do usuário Admin
USUARIO_ADMIN=
SENHA_ADMIN=

# CREDENCIAIS DE E-mail (use uma Senha de APP gerada no 2FA)
EMAIL_REMETENTE=
EMAIL_SENHA_APP=
